# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
video-preview.gif

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
